<section class="cart">
    <div class="order-cart  container mx-auto w-1/2">
        <div class="flex items-center border-b border-gray-300 pb-4">
            <img src="/img/cartblack.png" alt="cartblack" style="width:50px">
            <h1 class="font-bold ml-4 text-2xl">Order Summary</h1>
        </div>
        <div class="pizza-list">
            <div class="flex items-center my-6">
                <img class="w-20" src="/img/pizzalogo.png" alt="">
                <div class="flex-1 ml-4">
                    <h1>Kashyap</h1>
                    <span>MEDIUM</span>
                </div>
                <span class="flex-1">1 pcs</span>
                <span class="font-bold text-lg">₹300</span>
            </div>
        </div>

        <div class="pizza-list">
            <div class="flex items-center my-6">
                <img class="w-20" src="/img/pizzalogo.png" alt="">
                <div class="flex-1 ml-4">
                    <h1>Kashyap</h1>
                    <span>MEDIUM</span>
                </div>
                <span class="flex-1">1 pcs</span>
                <span class="font-bold text-lg">₹300</span>
            </div>
        </div>

        <div class="pizza-list my-6">
            <div class="flex items-center">
                <img class="w-20" src="/img/pizzalogo.png" alt="">
                <div class="flex-1 ml-4">
                    <h1>Kashyap</h1>
                    <span>MEDIUM</span>
                </div>
                <span class="flex-1">1 pcs</span>
                <span class="font-bold text-lg">₹300</span>
            </div>
        </div>
        <hr>
        <div class="text-right py-4">
            <div>
                <span class="text-lg font-bold">Total Amount: </span>
                <span class="amount text-2xl font-bold ml-2 " style="color:red">₹300</span>
            </div>
            <div>
                <form action="" class="mt-12">
                    <input class="border border-gray-400 p-2 w-1/2 mb-3" type="text" placeholder="Add phone number">
                    <input class="border border-gray-400 p-2 w-1/2" type="text" placeholder="Address">
                    <div class="py-2">
                        <button class="text-white px-6 py-2 font-bold" style="background-color: red;">Order Now</button>
                    </div>
                </form>
            </div>
        </div>

    </div>


  <!-- <div class="empty-cart">
    <div class="container mx-auto text-center">
        <h1 class="text-3xl font-bold mc-2">cart Empty</h1>
        <p class="py-2">your probably haven't ordered pizza yet to order a pizza go the main page</p>
        <img src="img/emptycart.jpg" alt="emptycart" class="mx-auto text-center">
        <a href="/" class="inline-block px-6 py-2 rounded-full btn-primary text-white font-bold mt-12" style="color:red">Go Back</a>
    </div>
</div> -->
</section>